In [1]:
import pandas as pd
import streamlit as st

In [14]:
df0 = pd.read_csv('../data/energy_data_chunk_0.csv')
df1 = pd.read_csv('../data/energy_data_chunk_1.csv')
df2 = pd.read_csv('../data/energy_data_chunk_2.csv')
df3 = pd.read_csv('../data/energy_data_chunk_3.csv')
df_energy = pd.concat([df0, df1, df2, df3], axis=0)

IndexError: Too many levels: Index has only 1 level, not 2

In [15]:
df_energy_sort = df_energy.sort_values(by='year')
dff_energy = df_energy_sort.reset_index()
dff_energy

,index,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,265243,Central African Rep.,"Fuel oil - Consumption by manufacturing, const...",1990,"Metric tons, thousand",3.000000,1.0,fuel_oil
1,8017,Thailand,Fuel oil - Own use by coal mines,1990,"Metric tons, thousand",21.000000,NaN,fuel_oil
2,200827,Congo,Electricity - Final energy consumption,1990,"Kilowatt-hours, million",350.000000,NaN,total_electricity
3,88555,United Kingdom,Patent fuel - Total energy supply,1990,"Metric tons, thousand",681.000000,NaN,patent_fuel
4,10101,Antigua and Barbuda,Kerosene-type Jet Fuel - Total energy supply,1990,"Metric tons, thousand",27.000000,1.0,kerosene_type_jet_fuel
...,...,...,...,...,...,...,...,...
1189477,13337,Maldives,Aviation gasoline - Consumption in domestic av...,2014,"Metric tons, thousand",0.220000,1.0,aviation_gasoline
1189478,51839,Greece,Fuelwood - Consumption by wood and wood products,2014,"Cubic metres, thousand",52.545156,1.0,fuelwood
1189479,248184,Martinique,"Electricity - total production, main activity",2014,"Kilowatt-hours, million",1734.463000,1.0,total_electricity
1189480,282535,Lao People's Dem. Rep.,Kerosene-type Jet Fuel - Consumption by transport,2014,"Metric tons, thousand",1.300000,1.0,kerosene_type_jet_fuel
1189481,230927,Uzbekistan,Natural gas (including LNG) - own use by elect...,2014,Terajoules,7815.000000,NaN,natural_gas_including_lng

In [ ]:
animated_plot = px.scatter(dff, x='quantity', y='category', animation_frame='year', color='country_or_area',
                           title='Energy Quantity vs. Category (Animated Scatter Plot)')
animated_plot